* {
    background-color:whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    text-align: center;
    margin-bottom: auto;
}

h4 {
    margin: 0px;
}

#subtitle {
    text-align: center;
    margin-bottom: 50px;
}

#container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
}

#recipe {
    display: flex;
    flex: 1;
    padding: 20px;
    border-bottom: 1px solid black;
}

#left {
    flex: 1;
    width: 50%;
    height: auto;
    padding: 20px;
}

#right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.name,
.description {
    flex: 1;
}



